:root {
  --default-font-color: rgb(18, 18, 18);
  --default-bg-color: #f5f5f5;
  --wrap-min-width: 100%;
  --wrap-min-height: 100%;
}

/* ----------- Custom Font ----------- */
@font-face {
  font-family: "cinzelregular";
  src: url("/customfont-main/cinzel-variablefont_wght-webfont.woff"),
    url("/customfont-main/cinzel-variablefont_wght-webfont.woff2")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, sans-serif;
  font-size: 1.314em;
  margin-top: 24px; /* non-scalable fallback for old browsers */
  margin-top: 1.5rem; /* 24px, will be ignored by old browsers */
}

/* ----------- Style for Header ----------- */
.site-header {
  display: flex;
  align-content: flex-start;
  padding: 1rem;
  min-height: var(--wrap-min-height);
  min-width: var(--wrap-min-width);
  border: 1px solid rgb(24, 21, 21);
}

.nav-el {
  margin-left: 3rem;
  padding: 0.5rem;
  border: 1px solid rgb(132, 160, 184);
  /* border: none; */
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, sans-serif;
  background-color: var(--default-bg-color);
}

.nav-el > .logo-link {
  color: var(--default-font-color);
  text-decoration: none;
}

.logo {
  position: relative;
  /* border: none; */
  background-color: var(--default-bg-color);
  cursor: pointer;
}

.logo::after,
.logo::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}

.logo::after {
  top: -5px;
  left: -1px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.logo::before {
  bottom: -11px;
  right: -1px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.logo > .logo--el {
  padding: 1rem;
}

/* ----------- Nav Logo Animation ----------- */

.logo:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.logo:hover::after,
.logo:hover::before {
  bottom: -5px;
  right: -1px;
  width: var(--wrap-min-width);
  height: var(--wrap-min-height);
}

/* ----------- Dropdown Menu ----------- */

.nav-dropdown-menu {
  display: none;
  position: absolute;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 150px;
  min-height: 100px;
  line-height: 1.3;
  z-index: 1;
  background-color: var(--default-bg-color);
  /* transition: all 5s; */
  margin-left: 1rem;
  border: 1px solid tan;
  line-height: 1.5rem;
  cursor: pointer;
}

.nav-el:hover > .nav-dropdown-menu {
  margin-top: 0.5rem;
  background-color: var(--default-bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-dropdown-menu > .dropdown-menu--el {
  color: var(--default-font-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* ----------- Style For Main- ---------- */

.page-wrap {
  display: flex;
  justify-content: center;
  min-width: var(--wrap-min-width);
  padding-top: 3rem;
  min-height: var(--wrap-min-height);
}
#maincontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 3.8rem;
}

#maincontent > a {
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, sans-serif;
  text-decoration: none;
  color: var(--default-font-color);
  letter-spacing: -1rem;
}

.main--el {
  font-size: calc(8.5 * 1rem);
  font-weight: 400;
  color: var(--default-font-color);
}

/* ----------- Work CSS Style ----------- */
.content-page-wrap {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  min-width: 100%;
  min-height: 100%;
  color: var(--default-font-color);

  padding-top: 5vw;
}

.block-content {
  display: flex;
  max-width: 50%;
  line-height: 1.3rem;
  flex-direction: column;
  padding-left: 18rem;
}

.content--description {
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, sans-serif;
  font-weight: 100;
  font-size: calc(2.5 * 1rem);
  line-height: 3rem;
}

.item--description {
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, "sans-serif";
  font-weight: 100;
  line-height: 1.8rem;
  padding-bottom: 1rem;
  color: #151515;
}

.blog-link > span {
  color: var(--default-font-color);
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, "sans-serif";
  font-size: large;
  font-weight: 600;
}

.gallery-reel-container {
  display: flex;
  align-items: center;
  min-width: 100%;
  padding-top: 1rem;
}

.gallery-reel-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

/* ----------- About CSS Style ----------- */
.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-content > .main-content--item {
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, "sans-serif";
  max-width: 68%;
  line-height: 1.8;
  font-size: calc(1 * 1rem);
  font-weight: 100;
  padding: 10rem 1rem 1rem 5rem;
}

.img-item {
  width: 100px;
}
/* ----------- JOURNAL CSS Style  ----------- */
.layout-wrap {
  display: grid;
  grid-template-columns: 1fr auto;
}
.main-content-wrap {
  min-height: 100vh;
  min-width: 600px;
  padding-top: 3rem;
}

.main-content-wrap > .main-content--item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 1rem 1rem 5rem;
  position: sticky;
  top: 0;
  max-width: 85%;
}

.main-content--item > .item--description {
  font-weight: 500;
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, "sans-serif";
  font-size: calc((2.2 - 1) * 1.2vw + 1rem);
}

.main-content--item > p {
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, "sans-serif";
  line-height: 1.8rem;
}

.item-wrap {
  /* display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  width: 100%;
  overflow: auto;
  height: 150rem;
}

.item-wrap > .grid-layout {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, 500px);
  min-height: 100%;
  grid-gap: 1rem;
  padding: 1rem;
  padding-top: 2rem;
}

.grid-layout > .item-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-height: 500px;
  min-width: 300px;
  /* border: 1px solid; */
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-layout > .item-card > .image-contain {
  display: contents;
  overflow: hidden;
  cursor: pointer;
}

.grid-layout > .item-card > .image-contain > img {
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.grid-layout > .item-card > .content-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.grid-layout > .item-card > .content-description > h1 {
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, "sans-serif";
  font-weight: 500;
  font-size: calc(1.1 * 1rem);
}

.grid-layout > .item-card > .content-description > p {
  margin: 0;
  padding-bottom: 1rem;
  font-family: "cinzelregular", Avenir Next, SegoeUI, arial, "sans-serif";
  font-size: 14px;
}

.grid-layout > .item-card > .content-description > .btn-text > button {
  font-family: arial;
  color: rgb(255, 255, 255);
  background-color: #151515;
  padding: 1rem;
  border: none;
  outline: 0;
  cursor: pointer;
}

.grid-layout > .item-card > .content-description > .btn-text > button:hover {
  opacity: 0.8;
}

/* ----------- Large Laptops ----------- */
@media screen and (min-width: 992px) {
  .item-wrap {
    padding-right: 5rem;
    width: 100%;
  }
}

/* ----------- Laptops Non-retina Display ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Laptops Retina Display ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .site-header {
    overflow: hidden;
    padding: 1rem 0rem;
    font-size: smaller;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-el {
    margin-left: 0rem;

    padding: 0.5rem 0rem;
  }

  .logo:hover {
    display: none;
  }

  .nav-el:hover {
    display: none;
  }

  .logo::after,
  .logo::before {
    border: none;
  }

  #maincontent {
    line-height: 1rem;
    letter-spacing: 1rem;
  }
  .main--el {
    font-size: calc((6.5 - 1) * 1.2vh + 1rem);
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .main--el {
    font-size: calc((8.5 - 1) * 1.2vh + 1rem);
  }
}
